#db                                                                                                                                                          
config/database.yml
db/schema.rb

#log
log/**
*.log
*.pid

#tmp
tmp/**

#vim swap file
**.swp
**.swo
**.swn
**.*~

#rcov
coverage/**

#selenium
vendor/plugins/selenium-on-rails/log/**

#doc
doc/api
doc/app

#bundle-fu
public/javascripts/cache
public/stylesheets/cache
