!black_color = #000
!front_color_light = #fff
!border_color = #ccc
!gray_color = #828282
!blue_color = #1B7BAF
!header_color = #e5ecf9

body
  :margin 0
  :padding 0
  *
    :font-family Helvetica,Tahoma,Verdana,"Lucida Grande",Arial,宋体,"Arial Unicode",sans-seriefHelvetica,Tahoma,Verdana,"Lucida Grande",Arial,宋体,"Arial Unicode",sans-serief
    :font-size 12px

a
  :text-decoration none
  :color = !black_color

ul
  :margin 0px 
  :padding 0px 
  :list-style none
  :float left
  li
    :float left
    :padding 2px 10px
    //指定toolbar history
    a
      :color = !border_color

//常用样式
.tip
  :color = !gray_color

.center_text
  :text-align center

.float_right
  :float right

.float_left
  :float left

//下一个按钮
.next
  :float left
  :height 23px
  :width 68px
  :background url(/images/next.png) repeat-x

//页面顶端工具条
#toolbar
  :height 30px
  :background url(/images/toolbar-bg.png) repeat-x
  :padding 6px 8px 0 8px
  
  .history_label
    :float left
    :margin 2px 2px 2px 30px
    :color = !border_color

  .logo
    :float right
    :height 23px
    :width 150px
    :background url(/images/logo.png) no-repeat

#content
  #title
    :font-size 24px
  .view_all_btn
    :display none

#footer
  :color = !gray_color
  :text-align center
  :margin-top 5px
  div, a
    :margin 5px
    :color = !gray_color
  img
    :display none

//game thumbs
#popular_list
  li
    :width 150px

.thumbs
  :width 120px
  dt img
    :display block
    :margin 3px
    :padding 5px
    :border 1px #cccccc solid
    :width 120px
    :height 90px
  dd
    :margin 0
    :text-align center
    :font-weight bold
    a
      :color = !blue_color

//clipboard
.copy_this_tip
  :color red
.copy_this
  :border 1px solid #ccc
  :padding 0 3px
.hover
  :background-color = !border_color

//site
#site
  h1
    :margin 15px
    :font-size 24px
  h2
    :margin-top 15px
    :padding 5px
    :background-color = !header_color
  li
    :width 100px
  a
    :color = !blue_color

//member
.nav
  :float right
