body {
  margin: 0;
  padding: 0; }
  body * {
    font-family: Helvetica,Tahoma,Verdana,"Lucida Grande",Arial,宋体,"Arial Unicode",sans-seriefHelvetica,Tahoma,Verdana,"Lucida Grande",Arial,宋体,"Arial Unicode",sans-serief;
    font-size: 12px; }

a {
  text-decoration: none;
  color: black; }

ul {
  margin: 0px;
  padding: 0px;
  list-style: none; }
  ul li {
    float: left;
    padding: 2px 10px; }
    ul li a {
      color: #cccccc; }

.tip {
  color: #828282; }

.center_text {
  text-align: center; }

.float_right {
  float: right; }

.float_left {
  float: left; }

.bar {
  background-color: #1b7baf;
  color: white;
  text-align: center;
  margin: 10px 10px 10px 33px;
  padding: 5px;
  font-weight: bold; }

.vertical {
  padding: 20px 5px;
  margin: 18px 0 0 3px;
  width: 16px;
  float: left; }

.next {
  float: left;
  height: 23px;
  width: 68px;
  background: url(/images/next.png) repeat-x; }

#toolbar {
  height: 30px;
  background: url(/images/toolbar-bg.png) repeat-x;
  padding: 6px 8px 0 8px; }
  #toolbar .history_label {
    float: left;
    margin: 2px 2px 2px 30px;
    color: #cccccc; }
  #toolbar .logo {
    float: right;
    height: 23px;
    width: 150px;
    background: url(/images/logo.png) no-repeat; }

#content #title {
  font-size: 24px; }
#content .view_all_btn {
  display: none; }

#footer {
  color: #828282;
  text-align: center;
  margin-top: 5px; }
  #footer div, #footer a {
    margin: 5px;
    color: #828282; }
  #footer img {
    display: none; }

.thumbs_list {
  margin-left: 30px; }
  .thumbs_list li {
    width: 150px; }

.now_list li {
  width: 75px; }

.thumbs {
  width: 150px;
  margin: 0; }
  .thumbs dt img {
    display: block;
    margin: 3px;
    padding: 5px;
    border: 1px #cccccc solid;
    width: 120px;
    height: 90px; }
  .thumbs dd {
    margin: 0;
    text-align: center;
    font-weight: bold; }
    .thumbs dd a {
      color: #1b7baf; }
  .thumbs.mini {
    width: 75px; }
    .thumbs.mini dt img {
      width: 60px;
      height: 45px; }

.copy_this_tip {
  color: red; }

.copy_this {
  border: 1px solid #ccc;
  padding: 0 3px; }

.hover {
  background-color: #cccccc; }

.links ul {
  margin: 0 35px; }
  .links ul li {
    width: 90px;
    text-align: left; }

#site h1 {
  margin: 15px;
  font-size: 24px; }
#site h2 {
  margin-top: 15px;
  padding: 5px;
  background-color: #e5ecf9; }
#site li {
  width: 100px; }
#site a {
  color: #1b7baf; }

.nav {
  float: right; }
