body {
  margin: 0;
  padding: 0; }
  body * {
    font-size: 12px; }

a {
  text-decoration: none;
  color: #000000; }

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  float: left; }
  ul li {
    float: left;
    padding: 2px 10px; }
    ul li a {
      color: #cccccc; }

.tip {
  color: #cccccc; }

.center_text {
  text-align: center; }

.float_right {
  float: right; }

.float_left {
  float: left; }

.next {
  float: left;
  height: 23px;
  width: 68px;
  background: url(/images/next.png) repeat-x; }

#toolbar {
  height: 35px;
  background: url(/images/toolbar-bg.png) repeat-x;
  padding: 6px 8px; }
  #toolbar .history_label {
    float: left;
    margin: 2px 2px 2px 30px;
    color: #cccccc; }
  #toolbar .logo {
    float: right;
    height: 23px;
    width: 150px;
    background: url(/images/logo.png) no-repeat; }

#content #title {
  font-size: 36px; }

#footer {
  text-align: center;
  margin-top: 20px; }
  #footer div, #footer a {
    margin: 5px; }

#footer_side {
  margin-top: 20px; }
  #footer_side div {
    margin: 2px; }
  #footer_side a {
    display: none; }

.nav {
  float: right; }
