.wikistyle {
  padding: 0 1px; }
  .wikistyle h1 {
    border: 0!important;
    font-size: 170%!important;
    border-top: 4px solid #aaa!important;
    padding-top: .5em!important;
    margin-top: 1.5em!important;
    margin-bottom: .5em; }
    .wikistyle h1:first-child {
      margin-top: 0!important;
      padding-top: .25em!important;
      border-top: none!important; }
  .wikistyle h2 {
    font-size: 150%!important;
    margin-top: 1.5em!important;
    border-top: 4px solid #e0e0e0!important;
    padding-top: .5em!important; }
  .wikistyle h3 {
    margin-top: 0.8em!important;
    margin-bottom: 0.5em!important; }
  .wikistyle p {
    margin: 1em 0!important;
    line-height: 1.5em!important; }
  .wikistyle ul {
    margin: 1em 0 1em 1.3em!important;
    margin-top: 0!important;
    margin-bottom: 0!important; }
  .wikistyle ol {
    margin: 1em 0 1em 1.5em!important; }
    .wikistyle ol li {
      margin-top: 0!important;
      margin-bottom: 0!important; }
  .wikistyle div {
    margin: 0.1em 0!important;
    background-color: #f8f8ff!important;
    border: 1px solid #dedede!important;
    padding: .5em!important;
    line-height: 1.5em!important;
    color: #444!important;
    word-break: break-all; }
