.span-18
  %h2 最多人玩
  %ul#popular_list
    -@popular_list.each do |game|
      %li=render :partial => '/games/thumbs', :locals => { :game => game }
.span-6.last
  %h2 其他人正玩
  %ul#now_list
    -@now_list.each do |game|
      %li=render :partial => '/games/thumbs', :locals => { :game => game }
