.span-18
  .bar 最多人玩
  %ul.thumbs_list
    -@popular_list.each do |game|
      %li=render :partial => '/games/thumbs', :locals => { :game => game , :style => :normal, :show_views => true}
.span-6.last
  %form#cse-search-box{:action=>"http://www.google.com/cse"}
    =hidden_field_tag :cx, "002330314085641571200:s7qc2tc1cos"
    =hidden_field_tag :ie, "UTF-8"
    =text_field_tag :q, nil, :size=>15
    =submit_tag "搜索小游戏", :name=>:sa
  %javascript{:src=>'http://www.google.com/cse/brand?form=cse-search-box&lang=zh-Hans', :type=>"text/javascript"}
  .shareit=render :partial => 'home/shareit', :locals => { :path => home_url, :title => @title, :show => "收藏分享小游网"}
  .bar.vertical 最新小游戏
  %ul
    -@latest_list.each do |game|
      %li=render :partial => '/games/thumbs', :locals => { :game => game, :style => :mini, :show_views => false }
  .copy_this_tip 点击复制以下内容，发送给QQ/MSN好友
  .copy_this
    .pop==发现一个很多精选小游戏的地方
    .url=home_url
  .bar.vertical 其他人在玩
  %ul.now_list
    -@now_list.each do |game|
      %li=render :partial => '/games/thumbs', :locals => { :game => game, :style => :mini, :show_views => false }
