%table
  %thead
    %tr
      %th=t('activerecord.attributes.game.name')
      %th=t('activerecord.attributes.game.description')
      %th{:colpan=>2}=link_to '新增游戏', new_game_path

  %tbody
    -@page.each do |game|
      %tr
        %td=render :partial => '/games/thumbs', :locals => { :game => game }
        %td
          :textile
            #{game.description}
        %td
          =link_to '预览', show_page(game), :target => '_blank'
          =link_to '修改', edit_game_path(game)

=will_paginate @page
