.nav=link_to '返回列表', games_path
-form_for @game do |f|
  .label=f.label_require :name
  .input=f.text_field :name
  .label=f.label_require :url
  .input=f.text_field :url
  .label=f.label_require :description
  .input=f.text_area :description

  =submit_tag '保存'
  =link_to '返回列表', games_path
