:javascript
  var game_id = '#{@game.id}';
  var game_name = '#{@game.name}';
.span-18
  .center_text
    %span.tip 您正玩
    %span#title=@game.name
    %span.tip 游戏说明在那==>
  =swf_tag @game.url, :id => 'game_bg', :width => 720, :height => 540

.span-6.last
  .wikistyle
    %h3 游戏说明
    .description=RedCloth.new(@game.description).to_html
