.span-24#site
  %h1 联系我们
  %h2 广告投放
  :textile
    欢迎任何方式的合作
    Email:mahb45#gmail.com(#替换为@)
    QQ:1080185
  %h2 任何意见或建议
  :textile
    Email:mahb45#gmail.com(#替换为@)
    小游群:61113516
  =link_to "意见反馈", "http://qun.qq.com/air/#61113516/bbs/view/cd/2/td/1", :target=>"_blank"
  =link_to "游戏推荐", "http://qun.qq.com/air/#61113516/bbs/view/cd/2/td/2", :target=>"_blank"
