.span-24#site
  %h1 合作伙伴
  %h2 友情链接
  %ul
    %li=link_to "真心话网", "http://www.55true.com", :target=>"_blank"
    %li=link_to "520网址之家", "http://abc.520.com", :target=>"_blank"
    %li=link_to "滋味网", "http://www.ziwee.cn", :target=>"_blank"
    %li=link_to "4399", "http://www.4399.net", :target=>"_blank"
    %li=link_to "7k7k小游戏", "http://www.7k7k.com", :target=>"_blank"
    %li=link_to "小游戏007", "http://www.yx007.com", :target=>"_blank"
    %li=link_to "萱萱休闲吧", "http://www.xuanxuan.com", :target=>"_blank"
    %li=link_to "在线小游戏", "http://www.xiaoyouxi.com", :target=>"_blank"
