!!! Strict

%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title=@title
    =javascript_include_tag "/games/max.js"
    -bundle do
      =stylesheet_link_tag "blueprintcss/screen"
      / [if lt IE 8]
        =stylesheet_link_tag "blueprintcss/ie"
      =stylesheet_link_tag "wikistyle", "default" 
      =javascript_include_tag "jquery", "jrails", "jquery.cookies", "swfobject", "histories", "games", "share", "ZeroClipboard", "application" 

  %body
    #toolbar
      =link_to '', home_path, :class => 'next'
      %span.history_label 最近玩过:
      %ul#history
      =link_to '', home_path, :class => 'logo'
    .container
      #content.span-24
        -flash.each do |key, msg|                                                                                                                                 
          =content_tag :div, msg, :id => "flash-#{key}"
        =yield
      #footer.span-24
        .links
          友情链接:
          =link_to "真心话网", "http://www.55true.com", :target=>"_blank"
          =link_to "520网址之家", "http://abc.520.com", :target=>"_blank"
          =link_to "滋味网", "http://www.ziwee.cn", :target=>"_blank"
          =link_to "4399", "http://www.4399.net", :target=>"_blank"
          =link_to "7k7k小游戏", "http://www.7k7k.com", :target=>"_blank"
          =link_to "小游戏007", "http://www.yx007.com", :target=>"_blank"
          =link_to "萱萱休闲吧", "http://www.xuanxuan.com", :target=>"_blank"
          =link_to "在线小游戏", "http://www.xiaoyouxi.com", :target=>"_blank"
        .copyright 
          copyright © 2009 
          %span><=link_to "小游网", home_path, :target=>"_blank"
          \. All Rights Reserved.
        - if production?
          =javascript_include_tag "http://js.users.51.la/3215065.js"
          %noscript
            %a{:href=>"http://www.51.la/?3215065", :target=>"_blank"}
              %img{:alt=>"&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;", :src=>"http://img.users.51.la/3215065.asp", :style=>"border:none"}
