!!! Strict

%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title=@title
    %link{:rel=>"shortcut icon", :type=>"image/x-icon", :href=>"/favicon.ico"}
    =javascript_include_tag "/games/max.js"
    -bundle do
      =stylesheet_link_tag "blueprintcss/screen"
      / [if lt IE 8]
        =stylesheet_link_tag "blueprintcss/ie"
      =stylesheet_link_tag "wikistyle", "default" 
      =javascript_include_tag "jquery", "jrails", "jquery.cookies", "swfobject", "histories", "games", "share", "ZeroClipboard", "application" 

  %body
    #toolbar
      =link_to '', home_path, :class => 'next'
      %span.history_label 最近玩过:
      %ul#history
      =link_to '', home_path, :class => 'logo'
    .container
      #content.span-24
        -flash.each do |key, msg|                                                                                                                                 
          =content_tag :div, msg, :id => "flash-#{key}"
        =yield
      #footer.span-24
        .links.span-24
          =render :partial => '/site/links'
        .site
          =link_to "首页", home_path
          |
          =link_to "关于本站", aboutus_path
          |
          =link_to "联系我们", contactus_path
          |
          =link_to "合作伙伴", partner_path
          |
          =link_to "免责声明", disclaimer_path
          |
          =link_to "网站地图", sitemap_path
        .copyright 
          copyright © 2009 
          %span><=link_to "小游网", home_path
          \. All Rights Reserved.
        - if production?
          =javascript_include_tag "http://js.users.51.la/3215065.js"
          %noscript
            %a{:href=>"http://www.51.la/?3215065", :target=>"_blank"}
              %img{:alt=>"&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;", :src=>"http://img.users.51.la/3215065.asp", :style=>"border:none"}
          :javascript
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          :javascript
            try {
              var pageTracker = _gat._getTracker("UA-5044311-2");
              pageTracker._trackPageview();
            }catch(err) {}
